@import "../../styles-utils/variables.scss";
@import "../../styles-utils/mixins.scss";

.card {
  overflow: hidden;
  max-width: 100%;

  &:hover .imageContainer {
    transform: scale(1.1);
  }
}

.imageContainer {
    display: block;
    transition: transform 0.3s ease;
    overflow: hidden;
    object-fit: cover;
    width: 100%; 
  
    img {
      width: 100%; 
      height: auto;
    }
  }

.imageCoverWrapper {
  position: relative;
  height: auto;
  width: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  color: $main-font-color;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
  font-weight: 800;

  a {
    color: $main-font-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    line-height: 24px;
    border-bottom: 4px solid $decoraion-theme-color;
    padding-bottom: 10px;

    &:hover {
      color: $decoraion-theme-color
    }
  }
}

.show {
  opacity: 1;
  pointer-events: auto;
}
