@import './variables.scss';

// Mixin for setting up styles for different screen dimentions
@mixin respond-to($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      @content;
    }
  } @else if $breakpoint == "mobile" {
    @media (max-width: $max-mobile-width) {
      @content;
    }
  } @else if $breakpoint == "desktop" {
    @media (min-width: $min-desktop-width) {
      @content;
    }
  }
}

@mixin list-styles {
  list-style: none;
  margin: 0;
  padding: 0;
}
