//fonts
$text-font: "Arial", sans-serif;
$main-font: "Fira Sans Condensed", $text-font;

// available font-weights: 100, 400, 800

//width dimensions
$min-tablet-width: 768px;
$min-mobile-width: 375px;
$min-desktop-width: 1440px;
$max-mobile-width: 767px;
$max-tablet-width: 1439px;

//colors
$main-theme-color: #151515;
$supplement-theme-color: #242424;
$decoraion-theme-color: #6C1BF0;
$supplement-font-color: #d9d9d9;
$main-font-color: #FFFFFF;
